@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.App {
  margin-top: 100px;
  width: 90vw;
  margin-inline: auto;
}
.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
}
.left-content .logo{
    font-family: "Black Ops One";
}
.right-content {
  display: flex;
  align-items: center;

}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row button {
  border: none;
}
.row button:hover {
  color: aqua;
  transition: ease-in-out 0.3s;
}
.text-box{
    margin-top: 2vh;
    border: 2px solid white;
    height: auto;
    width: auto;
    margin-left: 4vw;
}
.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 50px; 
    left: 50%; 
    transform: translateX(-50%);
}
.refresh{
    border: none;
    margin-top: 10px;
}
.reset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin-top: 10px;
}
.reset button{
    border-radius: 10px;
    height: 25px;
    width: 60px;
    background-color: white;
    color: black;
    border: none;
    margin-top: 5px;
}
.bttns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px; 
}
.bttns .button {
    border-radius: 10px;
    height: 25px;
    width: 60px;
    background-color: white;
    color: black;
    border: none;
    margin-inline: 5px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    width: 80vw;
    left: 10vw;
}
.socialMedia{
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-dropdown{
  border-radius: 20%;
}